<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='swagger-ui.css')}} " />
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon-32x32.png')}} " sizes="32x32" />
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon-16x16.png')}} " sizes="16x16" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }
      html,body{
          height:100%;
      }
      body
      {
        margin:0;
        background: #fafafa;
      }
      .select{
        position:absolute;
        left: 20px;
        top: 20px;
        height: 20px;
        width: 120px;
      }
    </style>

<script>

    function reflashPage(data){
        console.log('data',data)
        if(data==1){
          document.ItemFrm.location.href="/defaultApp/apis/zoo/v1/";
        }
    }

</script>

  </head>
<body>

<select onchange="reflashPage" class="select">
  <option value="1" >test模块1</option>
  <option value="2" >test模块2</option>
  <option value="3" >test模块3</option>
  <option value="4" >test模块4</option>
</select>

<iframe name="ItemFrm" src="/defaultApp/apis/zoo/v1/" width="100%" height="100%"></iframe>

</body>
</html>